.account-container{
  background-color:rgb(192, 235, 255);
  min-height: 100vh;
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
}
  .login-header{
    margin-top: 15%;
    font-weight: 600;
    font-size: 30px;
    display: flex;
    justify-content: center;
    border: none;
  }
  .form-container{
    display:flex;
    flex-direction: column;
    align-items: center;
  }
  
  .user-box, .password-box{
    margin-top: 10px;
    background-color: rgb(192, 235, 255);
    padding-left: 0;
    width: 580px;
    padding-top: 30px;
    padding-bottom: 2px;
    font-size: 15px;
    border-style: solid;
    border-top: none;
    border-left: none;
    border-right: none;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-end-start-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-color:black;
    margin-bottom:0;
    }
    .user-box, .password-box:active{
      border-style: solid;
      border-top: none;
      border-left: none;
      border-right: none;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      border-end-start-radius: 0px;
      border-bottom-right-radius: 0px;
      border-bottom-color:black;
    }
  
  .user-pic, .key-pic{
    height: 40px;
    width: 40px;
    vertical-align: middle;
  }
  ::placeholder{
    color: black;
    text-align: left;
    opacity: 0.7;
    font-size: 17.5px;
  
    margin-left: 0;
  }
  
  .form-subcontainer{
    display:flex;
    flex: 1;
    
  }   
  .forgot-password{
    margin-top: 0;
    font-size:15px;
  }
  a:link, a:visited{
    color:rgb(10, 21, 215);
    text-decoration:underline;
    cursor: auto;
  }
  a:hover{
    color:rgb(12, 142, 217);
  }
  a:active{
    color:rgb(12, 142, 217);
    cursor:pointer;
  }
  
  .submission{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: 65px;
  }
  .login-button{
    background-color:rgb(227,227,227);
    color:black;
    border:none;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 18px;
    padding-bottom: 18px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 30px;
    transition: hover 0.15s, opacity 0.15;
  
  }
  .login-button:hover{
    color:rgb(227,227,227);
    background-color:black;
  }
  .login-button:active{
    color:rgb(227,227,227);
    background-color:black;
    opacity: 0.7;
    cursor: pointer;
  }
